APP_PORT=8080
DATABASE_URL=postgres://bank:bank@postgres:5432/bank?sslmode=disable
MIGRATIONS_DIR=migrations
SEED_ENABLED=true
SEED_DIR=seeds
JWT_SECRET=dev-super-secret-change-me
JWT_TTL=24h
CARD_PGP_KEY=dev-card-pgp-key-change-me
CARD_HMAC_KEY=dev-card-hmac-key-change-me
SMTP_HOST=hogmail
SMTP_PORT=1025
SMTP_FROM=bank@example.com
REDIS_ADDR=redis:6379
CBR_ENDPOINT=https://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx
CBR_FALLBACK_KEY_RATE=16
CREDIT_SCHEDULER_EVERY=12h
LOG_LEVEL=info
